/****Globals****/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #e9ebef;
}
:root {
    --green: #217126;
    --blue: #2A1BA8;
}


/* 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
  } */


/**Navbar**/
  
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #217126;
}

.logo {
    width: 20vw;
    padding: 0;
    margin: 0;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.links p {
    margin: 0 3vw;
}

.navlink {
    text-decoration: none;
    color: #000;
}

.navlink hr {
    visibility: hidden;
}

a:hover hr {
    visibility: visible;
    color: var(--green);
    width: 10vh;
}

a:focus hr {
    visibility: visible;
    color: var(--green);
    width: 10vh;
}



.cart-container {
    display: flex;
}
.shopping-cart {
    display: flex;
    border: 2px solid #000;
    width: 10vw;
    height: 5vh;
}



.cart-icon {
    width: 5vh;
    height: 5vh;
}

.cart-count p {
    color: #000;
}
.shopping-cart:hover {
    cursor: pointer;
}

.profile {
    width: 5vh;
    height: 5vh;
}

.profile:hover {
    cursor: pointer;
}

.drop-down-menu {
    border: 1px solid #000;
    padding: 2px;
}

/***Home Page***/

/* .hero {
    display: flex;
} */

.hero-image {
    background: url("./assets/main-image.jpg");
}

.hero h3 {
    color: var(--green);
    /* font-size: 1.5vw;
    width: 70%; */
    text-align: center;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}


.main-content {
    margin-right: 35vh;
}

.main-header {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.main-content p {
    padding-top: 1vh;
    text-align: left;
    color: var(--blue);
    width: 20vw;
    font-size: 1vw;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: bold;
}

.main-image {
    /* position: absolute; */
    /* width: 100%; */
    width: 70%;
    border-radius: 25px;
}

/* .hero-content {

} */

.all-pro-but {
    font-size: 2vh;
    margin-top: 3vh;
    height: 5vh;
    width: 22vh;
    background-color: var(--green);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s;
}

.all-pro-but span {
    background-color: var(--green);
    color: #fff;
    margin-left: .5vh;
}

.all-pro-but:after {
    content: '»';
    color: #fff;
    padding-left: 1vh;
    opacity: 0;
    transition: 0.5s;  
}

.all-pro-but:hover {
    width: 25vh;
}

.all-pro-but:hover:after {
    opacity: 1;
}


/***Card Content***/

.card-main {
    overflow: auto;
    padding-top: 4vh;
}

.card-container {
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 1vh;
    width: 80vw;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

.cards {
    /* display: flex;
    align-self: center;
    justify-self: center; */
}

.hexagon {
    /* height: 15vw; */
    height: 8vw;
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
    background: var(--green);
    display: flex;
    align-self: center;
    justify-self: center;
  }

  .hexagon:hover {
    opacity: 1;
    -webkit-animation: flash 2s;
    animation: flash 2s;
  }

  .card-icon {
    /* width: 3vw;
    height: 3vw; */
    margin: auto;
    width: 50%;
  }

.card {
    /* width: 33%; */
    text-align: center;
    padding: 2.5vh;
}

/* .card-p {
} */

/***Featured Collection***/



.featured h3 {
    text-align: center;
    margin-top: 5vh;
    font-size: 2vw;
}

.featured p {
    color: var(--blue);
    text-align: center;
}

.featured-card {
    background-color: #fff;
    padding: 1vh;
    margin: 2vh;
    border-radius: 5px;
    width: 12vw;
    height: auto;
    /* display: flex;
    align-self: center;
    justify-self: center; */
}

.featured-card img {
    width: 12vw;
    height: 28vh;
}

.featured-card p {
    /* color: #000; */
}

a:link {
    text-decoration: none;
}

.feat-card-name {
    color: #000;
    font-weight: 700;
    text-align: center;
    font-size: 1vw;
}

.feat-card-price {
    color: var(--blue);
    font-size: 2vw;
}


@-webkit-keyframes flash {
    0% {  opacity: .3;  }
    100% { opacity: 1; }
  }
  @keyframes flash {
    0% { opacity: .3; }
    100% { opacity: 1;  }
  }


/***** Responsive *****/

@media screen and (min-width: 768px) {

    /**Navbar**/
    .menu-resp {
        visibility: hidden;
    }

    /**Landing Page**/
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        position: absolute;
    }

    .hero-img-content {
        margin-left: 40vw;
    }
    .main-header {
        font-size: 4vw;
        width: 52vw;
    }
    .hero h3 {
        font-size: 1.5vw;
        width: 70%;
    }


    .cards {
        padding-top: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        /* width: 100%; */
    }

    /**Feat Products**/
    .featured-cards {
        display: flex;
        align-self: center;
        justify-self: center;
    }



}


@media screen and (max-width: 768px) {
   
    /**Hero**/
    .hero {
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
    .main-image{
        width: 100%;
        /* padding: 5vh; */
    }
    .main-content {
        /* position: absolute; */
        /* display: flex;
        align-items: center; */
        /* justify-self: center; */
        margin-top: -35vh;
        margin-left: 2vw;
        font-size: 5vw;
        color: var(--green);
        /* background-color: var(--green); */
        /* white-space: no-wrap; */
    }
    .main-content p {
        visibility: hidden;
    }

    .all-pro-but {
        margin: 0;
        /* width: 25vw; */
    }

    /* .main-content h1 {
        background-color: #217126;
    } */
    /* .main-header h1 {
        color: var(--green);
    } */

    /**Cards**/
    .card-container {
        /* width: 80%; */
    }

    .hexagon {
        height: 25vw;
    }

    .cards{
        overflow: hidden;

        /* width: 100%; */
    }

    .card {
        
    }

}