/****Globals****/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #e9ebef;
    margin: 0;
    padding: 0;
}
:root {
    --green: #217126;
    --blue: #2A1BA8;
    --light-green: #ceeddb;
}


/* 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
  } */


/**Navbar**/
  
.navbar {
    display: flex;
    flex-direction: column;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    border-bottom: 2px solid #217126;
}


.logo {
    width: 60vw;
    padding: 0;
    margin: 0;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.links p {
    margin: 0 3vw;
}

.navlink {
    text-decoration: none;
    color: #000;
}

.navlink hr {
    visibility: hidden;
}

a:hover hr {
    visibility: visible;
    color: var(--green);
    width: 10vw;
}

a:focus hr {
    visibility: visible;
    color: var(--green);
    width: 10vw;
}
.user-container {
    width: 20vw;
    display: flex;
}
.shopping-cart {
    display: flex;
    align-items: center;
    border: 2px solid #000;
    height: 5vh;
    padding: 0vh 2vh;
    background-color: var(--light-green);
}

.cart-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-icon {
    padding-left: 2vh;
    margin: 0;
}

.shopping-cart:hover {
    cursor: pointer;
}
.user-profile {
    border: 2px solid #000;
    margin-left: 1.5vh;
}
.user-profile::after {
    transition: 0.5s;
}
.user-profile:hover {
    background-color: #e9ebef;
    position: absolute;
    border: 2px solid #000;
    width: 15vh;
    position: absolute;
    transform: translate(16vh, 0vh);
}
.user-profile button {
    border: none;
}
.profile {
    height: 4vh;
}

.profile:hover {
    cursor: pointer;
}
#drop-down-menu {
    padding: 0;
    margin: 0 1.5vh;
    text-align: left;
}

.drop-down-items {
    color: #000;
}
.drop-down-items:hover {
    color: var(--blue);
}




/***Home Page***/


.hero-image {
    background: url("./assets/main-image.jpg");
}

.hero h3 {
    color: var(--green);
    font-size: 4vw;
    text-align: center;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}


.main-content {
    margin-right: 35vh;
}

.main-header {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.main-content p {
    padding-top: 1vh;
    text-align: left;
    color: var(--blue);
    width: 20vw;
    font-size: 1vw;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: bold;
}

.main-image {
    /* position: absolute; */
    /* width: 100%; */
    width: 70%;
    border-radius: 25px;
}

/* .hero-content {

} */

.all-pro-but {
    background-color: var(--green);
    color: #fff;
    padding: 1vh 2vh;
    font-size: 1vw;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s;
}

.all-pro-but span {
    /* background-color: var(--green);
    color: #fff;
    margin-left: .5vh; */
}

.all-pro-but:after {
    content: '»';
    color: #fff;
    padding-left: 1vh;
    opacity: 0;
    transition: 0.5s;  
}

.all-pro-but:hover {
    width: 25vh;
}

.all-pro-but:hover:after {
    opacity: 1;
}


/***Card Content***/

.card-main {
    overflow: auto;
    padding-top: 4vh;
}

.card-container {
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 1vh;
    width: 80vw;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

.cards {
    /* display: flex;
    align-self: center;
    justify-self: center; */
}

.hexagon {
    /* height: 15vw; */
    height: 8vw;
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
    background: var(--green);
    display: flex;
    align-self: center;
    justify-self: center;
  }

  .hexagon:hover {
    opacity: 1;
    -webkit-animation: flash 2s;
    animation: flash 2s;
  }

  .card-icon {
    /* width: 3vw;
    height: 3vw; */
    margin: auto;
    width: 50%;
  }

.card {
    /* width: 33%; */
    text-align: center;
    padding: 2.5vh;
}

/* .card-p {
} */

/***Featured Collection***/

.featured-container {
    margin: 10vh 0 10vh 0;
}

.featured h3 {
    text-align: center;
    margin-top: 5vh;
    font-size: 5vw;
}

.featured p {
    color: var(--blue);
    text-align: center;
}

.featured-cards {
    /* display: flex; */
    /* margin: 5vh 0 15vh 0vh; */
    /* margin: 5%; */
}

.featured-card {
    background-color: #fff;
    padding: 1vh;
    margin: 2vh;
    border-radius: 5px;
    /* padding: 1vh; */
    /* width: 70vw;
    height: 45vh; */
}

.featured-card img {
    width: auto;
    height: 10vh;
    /* padding: 1vh; */
}

.featured-card p {
    /* color: #000; */
}

a:link {
    text-decoration: none;
}

.feat-card-name {
    color: #000;
    font-weight: 700;
    text-align: center;
    /* padding-top: 1vh; */
    /* padding: 1vh; */
    /* font-size: 1vw; */
}

.feat-card-price {
    color: var(--blue);
    /* font-size: 2vw; */
}


/***Shop***/
.shop-container {
    display: flex;
    width: 100%;
}

.all-products {
    display: flex;
    flex-wrap: wrap;
}

.filters {
    /* position: absolute; */
    display: block;
    background-color: var(--light-green);
    height: 100%;
    width: 400px;
    padding: 3vh;
    margin: 20px;

}

.dropdown-products {
    /* color: #fff; */
    /* background-color: #217126; */
}

/*Products*/

.pd-container {
    display: flex;
}
.pd-images {
    /* display: block; */
    width: 20vw;
}
.pd-images img {
    width: 15vw;
}

/* .pd-main-img {
    width: 80vw;
} */
.pd-main-img img {
    width: 50vw;
    /* width: 80vw; */
}


/****About****/
.about-container {
    /* display: flex; */
    /* align-self: center; */
    justify-self: center;
    background-color: var(--light-green);
    width: 80vw;
}

.about-container span {
    text-align: center;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 2vw;
    width: 50vw;
}

/* .about-span {
    text-align: center;
} */

.about-steps-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.about-steps {
    border: var(--blue) solid 1px;
    border-radius: 10px;
    height: 250px;
    width: 400px;
    margin: 5vh 0;
}

.about-steps span {
    margin: 1vh;
    font-size: 15px;
    height: 25px;
    width: 25px;
    background-color: var(--blue);
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    text-align: center;

}

.about-steps p {
    padding: 1vh;
    text-align: center;
}

/**Animations**/
@-webkit-keyframes flash {
    0% {  opacity: .3;  }
    100% { opacity: 1; }
  }
  @keyframes flash {
    0% { opacity: .3; }
    100% { opacity: 1;  }
  }

  .grow { 
    transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
    transform: scale(1.05); 
  }

  /**Information**/

  .info-container {
    background-color: var(--light-green);
    padding: 2vh 0;

  }

  .info-container h3 {

    text-transform: uppercase;
    font-size: 2vw;
    text-align: center;
  }


  .info-img {
    width: 25vw;
    /* height: 50vh; */
  }

  .info-about {
    display: flex;
    align-items: end;
    text-align: center;
  }
  .info-about-text {
    width: 20vw;
    padding: 10vh 2vh 0 2vh ;
  }

  .info-links {

  }
  .info-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    width: 25vw;
    height: 8vh;
    margin: 3vh;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.14);
  }
  .info-link-img {
    width: 3vw;

  }
  .info-link {
    display: flex;
    align-items: center;
    justify-self: center;
  }

  .info-link-text {
    text-transform: uppercase;
    padding: 1vh;
    /* margin: 1vh; */
  }

  .info-link-btn {
    background-color: var(--green);
    border: none;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    width: 6vw;
    height: 4vh;
    
  }


/**Featured Brands**/
.fb-container {
    text-align: center;
    padding-bottom: 10vh;
}

.fb-brands-list {
    background-color: var(--light-green);
    width: 80vw;
    height: auto;
    display: flex;
    justify-self: center;
    /* align-items: center;
    justify-self: center; */
    border-radius: 15px;
    border: 1px solid #888;
}
.fb-text {
    text-align: left;
    width: 25vw;
    padding: 5vh;
    margin-bottom: 5vh;
}
.fb-text span {
    font-size: 1vw;
}
.fb-text p {
    font-size: 1vw
}
.fb-image {
    width: 8vw;
    /* height: 5vw; */
    padding: 2vh;
}

.fb-logos {
    width: 70vw;
}


/***Footer***/

.footer-cont {
    text-align: center;
    background-color: #000;
    height: 35vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.footer-logo h4 {
    color: yellow;
    font-size: 2.25vw;
    padding-bottom: 1vh;
    margin: 0;
}
.footer-logo h5 {
    color: var(--green);
    -webkit-text-stroke: .2px white;
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 3vh;
    padding: 0;
    margin: 0;
}

.footer-faq h6 {
    font-size: 1vw;
    text-transform: capitalize;
}

.footer-faq button {
    background-color: var(--green);
    color: #fff;
    border: none;
    border-radius: 15px;
    width: 8vw;
    height: 4vh;
}
.footer-loca span {
    text-transform: capitalize;
}
.footer-loca p {
    color: var(--green);
}


/***Contact***/

.cont-head h2 {
    font-size: 2.5vw;
}

.cont-content {
    display: flex;
    justify-content: space-around;
    /* align-self: sp;
    justify-self: ; */
    width: 90vw;

}
.cont-text {
    width: 30vw;
}
.cont-content h6 {
    color: #888;
}

.form-border {
   margin: 5vh 0;
}

.form-cont {
    /* display: block; */
    /* align-self: center; */
    justify-self: center;
    width: 30vw;
    background-color: #fff;
    border: 5vh solid var(--light-green);
    border-radius: 10px;
    padding: 2vh;
    /* margin-top: 5vh; */
}

.form-cont input {
    /* margin-top: 5vh; */
    padding: 1vh;
    margin: 1vh 0;
    width: 25vw;
    border: none;
    border-bottom: .1vh solid #888;
}

textarea {
    width: 25vw;
    border: none;
    border-bottom: .1vh solid #888;
    padding: 1vh;
    margin: 1vh 0;
}

#sub-button {
    width: 15vw;
    border: none;
    background-color: var(--light-green);
    border-radius: 25px;
}




/***** Responsive *****/

@media screen and (min-width: 768px) {

    /**globals**/
    

    /**Navbar**/
    /* .menu-resp {
        visibility: hidden;
    } */
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
        width: 20vw;
    }
    a:hover hr {
        width: 10vh;
    }
    
    a:focus hr {
        width: 10vh;
    }

    /**Landing Page**/
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        position: absolute;
    }

    .hero-img-content {
        margin-left: 40vw;
    }
    .main-header {
        font-size: 4vw;
        width: 52vw;
    }
    .hero h3 {
        font-size: 1.5vw;
        width: 70%;
    }
    


    .cards {
        padding-top: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 33%;
        /* width: 100%; */
    }

    /**Feat Products**/
    .featured h3 {
        font-size: 2.25vw;
    }
    .featured-cards {
        display: flex;
        align-self: center;
        justify-self: center;
    }
    .featured-card img {
        width: 12vw;
        height: auto;
        /* padding: 1vh; */
    }
    .featured-card {
        width: 12vw;
        height: 28vh;
    }

    

    /***Information***/
    .info-content {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      /* .info-container {
        width: 100%;
      } */

}


@media screen and (max-width: 768px) {
    body {
        display: flex;
        /* margin: 5vh; */
        /* align-items: center;
        justify-content: center; */
    }

    /**NavBar**/

    /**Hero**/
    .hero {
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
    .main-image{
        width: 100%;
        /* padding: 5vh; */
    }
    .main-content {
        margin-top: -35vh;
        margin-left: 2vw;
        font-size: 5vw;
        color: var(--green);
        /* background-color: var(--green); */
        /* white-space: no-wrap; */
    }
    .main-content p {
        visibility: hidden;
    }

    .all-pro-but {
        margin: 0;
        /* width: 25vw; */
    }


    /**Cards**/
    .card-container {
        /* width: 80%; */
    }

    .hexagon {
        height: 25vw;
    }

    .cards{
        overflow: hidden;

        /* width: 100%; */
    }

    .card {
        
    }


    /**Featured Collection**/
    .featured p {
        padding: 1vw;
        /* text-align: center; */
        /* display: flex; */
    } 
    .featured-cards {
        /* display: flex; */
        margin: auto;
        width: 65%;
        padding: 0;
    }

    /***Information***/
    .info-container h3 {
        font-size: 5vw;
    }
    .info-container img {
        position: absolute;
        visibility: hidden;
        /* height: 100vw; */
    }
    .info-about {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .info-about-text {
        width: 50vw;
    }
    .info-about-text h5 {
        font-size: 4vw;
    }
    .info-about-text p {
        font-size: 4.5vw;
    }

}